body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.container {
  padding: 12px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;

}

.dpicker {
  background-color: #121212;
  width: 128px;
  border: 2px solid #eaeef2;
  border-radius: 6px;
}

.dpicker:focus-within {
  border: 2px solid #54538C;
}

.npicker {
  background-color: #121212;
  width: 168px;
  border: 2px solid #eaeef2;
  border-radius: 6px;
  margin-right: 12px;
}

.npicker:focus-within {
  border: 2px solid #54538C;
}

.epicker {
  padding-left: 12px;
  flex: 1;
}

.chartContainer {
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  height: 100%;
}
.chart {
  height: 100vh;
  width: 100%;
}

.collapseButton {
  border-radius: 6px;
  position: "relative";
  margin: "auto";
  width: "80vw";
  background-color:'#eaeef2';

  &:hover {
    background-color: #54538C;
  }
}


@import 'node_modules/react-datepicker/src/stylesheets/datepicker.scss';

.react-datepicker__input-container { 
  padding-top: 4px;
  padding-left: 4px;
}

.react-datepicker__input-container input {
    // height: 31.2px;
    height: 40.2px;
    padding-top: 0px;
    padding: 0px;
    text-align: center;
    font-size: 1em;
    line-height: 1.2;
    width: 120px;
    border-width: 0px;
    border-color: transparent;
    background-color: #eaeef2;
    border-radius: 2px;
  &:focus {outline:0 !important;}
}

.react-datepicker__close-icon::after {
  color: transparent;
  background-color: transparent;
  border: none;
}

.react-datepicker__month-container {
  background-color: #383838;
  border: 2px solid #eaeef2;
  // color: #3463b4;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  .react-datepicker__week {
    .react-datepicker__day {
      color: #eaeef2;
      &--disabled {
        color: #000;
      }
      &:hover{
        background-color: #54538C;
        border: none;
      }
      &--disabled:hover {
        background-color: transparent;
      }
      &--selected {
        background-color: #eaeef2;
        color: #000;
      }
      &--keyboard-selected {
        outline:0 !important;
        background-color: #54538C;
      }
    }
  }

  .react-datepicker__month {
    padding: 1rem 0;
    &--selected {
      border: 0px solid black;
    }
  }

  .react-datepicker__month-text {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    width: 5rem;
    margin: 0.5rem;
    font-size: 1rem;
    padding: 0.2rem;
    &:hover {
      background-color: #54538C;
    }
    &--disabled {
      cursor: default;
      color: orange;
  
      &:hover {
        background-color: transparent;
      }
    }
  }  
  .react-datepicker__header {
    text-align: center;
    background-color: #383838;
    color: #eaeef2;
    border-bottom: 1px solid #eaeef2;
    border-top-left-radius: $datepicker__border-radius;
    padding: 8px 0;
    position: relative;
    .react-datepicker__current-month {
      color: #eaeef2;
    }
    .react-datepicker__day-names {
      .react-datepicker__day-name {
        color: #eaeef2;
      }
    }

  }
}
