body {
  margin: 0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}
:root {
  --accent-color: #54538C;
  --text-color: #eaeef2;
  --flex-direction: row;
  --emote-buffer: 12px;
}

$accent-color: var(--accent-color);
$text-color: var(--text-color);
$flex-direction: var(--flex-direction);
$emote-buffer: var(--emote-buffer);

code {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.page {
  display: flex;
  flex-direction: $flex-direction;
  width: 100%;
}

.welcomePopup {
  position: absolute;
  height: fit-content;
  width: auto;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 15vh;
  margin-bottom: 15vh;
  border-radius: 6px;
  position: absolute;
  background-color: #eaeef2e0;
  color: #121212;
  text-align: center;
  // border: 2px solid;
  // animation: rainbow-border 5s linear infinite;
}

// @keyframes rainbow-border {
//   0% {
//     border-color: red;
//   }
//   16.5% {
//     border-color: orange;
//   }
//   35% {
//     border-color: yellow;
//   }
//   49.5% {
//     border-color: green;
//   }
//   66% {
//     border-color: blue;
//   }
//   82.5% {
//     border-color: purple;
//   }
//   100% {
//     border-color: red;
//   }
// }

.welcomePopup nav ol {
  margin-bottom: 12px;
  padding-right: 24px;
  height: 30vh;
  overflow-y: scroll;
  // overflow-x: hidden;
  text-align: left;
}

.welcomePopup nav ul {
  font-weight: normal;
}

.welcomePopup button {
  border-radius: 6px;
  border: none;
  color: #121212;
  padding: 0px;
  margin-top: auto;
  margin-bottom: 18px;
  height: 40.2px;
  font-size: 16px;
  background-image: linear-gradient(to right,#eaeef2, #eaeef2, red, yellow, green, blue, purple, $accent-color, $accent-color);
  background-size: 800% auto;
  transition: background-position 0.7s ease-in-out, color 0.7s ease-in-out;
  background-position: left bottom;
  outline: 0 !important;
  width: 75%;
  &:hover {
    // background-image: linear-gradient(to right,#eaeef2, #eaeef2, red, yellow, green, blue, purple, $accent-color, $accent-color);
    // background-size: 800% auto;
    background-position: right bottom;
    color: $text-color;
    transition: background-position  0.7s ease-in-out, color 0.7s ease-in-out;
  }
}

.container {
  // padding: 12px;
  padding-top: 12px;
  // padding-right: 12px;
  // padding-left: 12px;
  // padding-left: 0px;
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
  display: flex;
  flex-direction: $flex-direction;
}

.helpDiv {
  z-index: 1;
  background-color: #121212;
  width: 44.2px;
  border: 2px solid #eaeef2;
  border-radius: 6px;
  padding-right: 4px;
  margin-right: 12px;
  margin-bottom: 8px;
  height: max-content;
}

.helpButton {
    // height: 31.2px;
    height: 40.2px;
    width: 40.2px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding-top: 0px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6;
    border-width: 0px;
    border-color: transparent;
    // background-color: #eaeef2;
    background: url('https://em-content.zobj.net/thumbs/120/twitter/322/thinking-face_1f914.png');
    // background: transparent;
    background-size: 100%;
    transition: all 250ms ease-in-out;
    border-radius: 3px;
    &:focus {
      outline:0 !important;
    }
    &:hover { 
    animation: rotateAnimation 1.5s linear infinite;
    // background-image: url('https://media.tenor.com/o0KWDVtM-bAAAAAM/thinking-emoji.gif');
    // background-color: $accent-color;
    // color: $text-color;
    transition: all 250ms ease-in-out;
  }
}

@keyframes rotateAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}

.npicker {
  z-index: 1;
  background-color: #121212;
  width: 168px;
  border: 2px solid #eaeef2;
  border-radius: 6px;
  margin-right: 12px;
  height: fit-content;
}

.npicker:focus-within {
  border: 2px solid $accent-color;
}

.dpicker {
  z-index: 1;
  background-color: #121212;
  width: 128px;
  border: 2px solid #eaeef2;
  border-radius: 6px;
  height: fit-content;
  padding-right: 4px;
}

.dpicker:focus-within {
  border: 2px solid $accent-color;
}

.epicker {
  z-index: 0;
  margin-left: $emote-buffer;
  height: fit-content;
  width: fit-content;
  flex: 1;
}

.chartContainer {
  margin-left: 6%;
  margin-right: 6%;
  display: flex;
  flex-direction: $flex-direction;
  height: 100%;
}
.chart {
  margin-left: 6%;
  margin-right: 6%;
  width: 88%;
  height: 80vh;
  padding-bottom: 0px;
  transition-duration: 500ms;
}

.collapseButton {
  border-radius: 6px;
  border: none;
  // position: relative;
  // margin: auto;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 40.2px;
  font-size: 16px;
  background-color:#eaeef2;
  outline: 0 !important;

  &:enabled {
    &:hover {
      background-color: $accent-color !important;
      color: $text-color;
      transition: 250ms
    }
  }
  &:disabled {
    background-color: #fd0029 !important;
    color: #121212;
    &:hover {
      animation: shake 0.55s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }
}

.react-player-container {
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 18px;
  position: relative;
  padding-top: 56.25%
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stats-box {
  color: $text-color;
  border: 0.3vh solid #eaeef2;
  border-radius: 6px;
  height: fit-content;
  // width: 100%;
  margin-top: 12px;
  margin-right: 6%;
  margin-left: 6%;
  text-align: left;
  margin-bottom: 0px;
  padding-bottom: 0.5vh;
}

.stats-box header {
  background-color: $accent-color;
  color: $text-color;
  border-radius: 3px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 0.5vh;
  padding-left: 6px;
  padding-bottom: 1vh;
  padding-top: 1vh;
  text-align: center;
  font-size: 24px;
  text-align: left;
}

.stats-box li {
  background-color: #eaeef2;
  list-style-type: none;
  color: #121212;
  border-radius: 3px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 0.5vh;
  padding-left: 6px;
  padding-bottom: 1vh;
  padding-top: 1vh;
  text-align: center;
  font-size: 24px;
  text-align: left;
}

.highlights {
  display: flex;
  flex-direction: column;
  margin-right: 6%;
  margin-left: 6%;
  margin-top: 2vh;
  margin-bottom: 12px;
  padding-left: 0px;
  border: 0.3vh solid #eaeef2;
  border-radius: 6px;
}


#highlights nav ul { 
  height: 60vh;
  overflow-x: hidden; 
  overflow-y: scroll;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

hr {
  color: #eaeef2;
  margin: 0.7vh;
  height: 0px;
  background-color: #eaeef2;
  margin-left: 0px;
  margin-right: 0px;
}

.highlights-header {
  background-color: $accent-color;
  color: $text-color;
  border-radius: 3px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 0.6vh;
  font-size: 1.5rem;
  text-align: center;
  padding-left: 0px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 0px;
}

#highlights sup {
  font-size: small;
  white-space: pre-line;
  color: $text-color;
  transition: all 200ms linear;
  &:hover {
    color: red;
    transition: all 200ms linear;
  }
}


.highlight-item {
  background-image: linear-gradient(to right, #eaeef2, #eaeef2, $accent-color, $accent-color);
  background-size: 300% auto;
  transition: background-position 0.7s ease-in-out, color 0.7s ease-in-out;
  background-position: left bottom;
  font-size: inherit;
  border-radius: 3px;
  padding-left: 0px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 0.4vh;
  width: auto;
  text-align: center;
  list-style-type: none;
  &:hover {
    background-size: 200% auto;
    background-position: right bottom;
    color: $text-color;
    transition: all  0.3s ease-in-out;
  }
}

.highlight-item--invalid {
  background-color: $accent-color;
  color: $text-color;
  font-size: inherit;
  border-radius: 3px;
  padding-left: 0px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 0.4vh;
  text-align: center;
  list-style-type: none;
  transition: 300ms;
  &:hover {
    background-color: #fd0029;
    color: #eaeef2;
    animation: shake 0.55s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}



@import 'node_modules/react-datepicker/src/stylesheets/datepicker.scss';

.react-datepicker__input-container { 
  padding: 4px;
}

.react-datepicker__input-container input {
    // height: 31.2px;
    height: 40.2px;
    padding-top: 0px;
    // padding-bottom: 2px;
    text-align: center;
    font-size: inherit;
    line-height: 1.2;
    width: 120px;
    border-width: 0px;
    border-color: transparent;
    background-color: #eaeef2;
    border-radius: 3px;
  &:focus {
    outline:0 !important;
  }
  &:hover { 
    background-color: $accent-color;
    color: $text-color;
    transition: 250ms;
  }
}

.react-datepicker__close-icon::after {
  color: transparent;
  background-color: transparent;
  border: none;
}

.react-datepicker {
  border: none;
  border-radius: 6px
}

.react-datepicker__month-container {
  // background-color: transparent;
  // border: 0px solid transparent;
  border: none;
  // color: #3463b4;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  .react-datepicker__week {
    .react-datepicker__day {
      color: #121212;
      &--disabled {
        color: #12121238
      }
      &:hover{
        background-color: $accent-color;
        color: $text-color;
        border: none;
        // text-shadow: none;
      }
      &--disabled:hover {
        background-color: transparent;
        color: #12121238;
      }
      &--selected {
        background-color: #12121220;
        color: $accent-color;
        font-weight: bolder;
        // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      }
      &--keyboard-selected {
        outline:0 !important;
        background-color: $accent-color;
        color: $text-color;
      }
    }
  }

  .react-datepicker__month {
    padding: 1rem 0;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    // &--selected {
    //   border: 0px solid black;
    // }
  }

  .react-datepicker__month-text {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    width: 5rem;
    margin: 0.5rem;
    font-size: 1rem;
    padding: 0.2rem;
    &:hover {
      background-color: $accent-color;
    }
    &--disabled {
      cursor: default;
      color: orange;
  
      &:hover {
        background-color: transparent;
      }
    }
  }  
  .react-datepicker__header {
    text-align: center;
    background-color: $accent-color;
    color: #121212;
    border-bottom: 1px solid #12121238;
    border-top-left-radius: $datepicker__border-radius;
    padding: 8px 0;
    position: relative;
    .react-datepicker__current-month {
      color: $text-color;
    }
    .react-datepicker__day-names {
      .react-datepicker__day-name {
        color: $text-color;
      }
    }

  }
}
