@use "index";

.react-tabs {
    -webkit-tap-highlight-color: transparent;
  
    &__tab-list {
      padding: 0;
    }
  
    &__tab {
      float: left;
      display: inline;
      cursor: pointer;
      color: index.$text-color;
      width: 47.5%;
      border-radius: 3px;
      margin-left: 0.5vh;
      margin-top: 0.6vh;
      font-size: 1.5rem;
      text-align: center;
      padding-left: 0px;
      padding-top: 2vh;
      padding-bottom: 2vh;
      margin-bottom: 0px;
    //   background-color: index.$darker-accent-color;
      border: 2px solid index.$accent-color;
      color: #eaeef2;
      transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;;
    //   transition: background-color color 0.7s ease-in-out;
    //   opacity: 80%;
      #transcript-tooltip-icon, #highlight-tooltip-icon {
        color: #eaeef2;
        transition: all 0.7s ease-in-out;
      }
  
      &--selected {
        padding-bottom: 2vh;
        padding-top: 2vh;
        border: none;
        background-color: index.$accent-color;
        padding-bottom: calc(2vh + 8px);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
        // transition: background-color color 0.7s easeS-in-out;
        color: index.$text-color;
        opacity: 100%;
        #transcript-tooltip-icon, #highlight-tooltip-icon {
            color: #121212;
            transition: all 0.7s ease-in-out;
          }
      }
  
      &--disabled {
        color: GrayText;
        cursor: default;
      }
  
      &:focus {
        outline: none;
      }
    }
  
    &__tab-panel {
      display: none;
  
      &--selected {
        display: block;
      }
    }
  }
  